<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<!-- Por fichero para todas las trazas de ControlRondas -->
	<appender name="RollingFileControlRondas" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="logs/ControlRondas.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}]%5p %C.%M(%F:%L) - %m%n" />
		</layout>
	</appender>
	
	<!-- Por consola para todas las trazas de ControlRondas -->
	<appender name="ConsoleControlRondas" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}]%5p %C.%M(%F:%L) - %m%n" />
		</layout>
	</appender>
	
	<!-- Para trazas normales y corrientes codigo kyros -->
	<logger name="com" additivity="true">
		<level value="INFO"/>
		<appender-ref ref="RollingFileControlRondas" />
		<appender-ref ref="ConsoleControlRondas" />
	</logger>
	
	<!-- Para trazas normales y corrientes del codigo de apache -->
	<logger name="org.apache" additivity="false">
		<level value="ERROR"/>
		<appender-ref ref="RollingFileControlRondas" />
		<appender-ref ref="ConsoleControlRondas" />
	</logger>
	
</log4j:configuration>